# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
temp/
fonts/
har_and_cookies/
*.part
*.ytmdl
*.mp4
*.mp3

# Docker build artifacts
docker-compose.override.yml
Dockerfile~