g4f
setuptools
wheel
requests
moviepy @ git+https://github.com/Zulko/moviepy.git@v2.0.0
termcolor
playsound
srt_equalizer
assemblyai
Pillow==9.5.0
vodbot
streamlink
yt-dlp
openai-whisper
opencv-python
pandas
numpy
Flask>=2.0.0
markdown

# Add watchdog for live-reload support
watchdog>=2.1.0
pysrt
openai>=1.0.0